.high-scores h2, .high-scores li {
    color: white;
    background-color: rgba(0, 0, 0, 0.314);
}

.high-scores h2 {
    font-size: 70px;
    font-weight: 600;
}

.high-scores li {
    font-size: 20px;
    font-weight: 600;    
}
