nav {
    display: inline-flex;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}

a {
    color: black;
}

main {
    display: flex;
    justify-content: center;
    padding: 1px;
}

.card {
    max-height: fit-content;
    width: 100%;
    position: absolute;
    top: 130px;
    padding: 20px;
    max-width: 1000px;
    text-align: center;
}

.card div {
    padding: 20px;
}

body button {
    margin: 20px;
}

#startBtn,
#scoresPage button,
#saveBtn,
#startOverBtn {
    width: 200px;
    align-self: center;
}

#rulesGroup {
    max-width: 500px;
    align-self: center;
    margin: 30px;
}

#rules {
    margin: 10px;
}

#possibleAnsDiv {
    display: flex;
    flex-direction: column;
}

#isCorrect {
    animation-duration: 4s;
    font-size: 30px;
}

#timerDiv {
    position: absolute;
    right: 0;
    margin-right: 20px;
}

#questionDiv {
    font-size: 25px;
    font-weight: bold;
}

#possibleAnsDiv button {
    margin: 10px;
}

#scoresPage ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    max-width: 500px;
    align-self: center;
    margin: 30px;
}

#initialsInput {
    width: 100px;
    align-self: center;
}