nav {
    padding: 50px;
    height: 80px;
    font-weight: bold;
    font-size: 30px;
}

a {
    color: black;
}

.main {
    align-content: center;
    padding: 1px;
}


.card {
    height: 500px;
    width: 100%;
    position: fixed;
    top: 130px;
    padding: 50px;
    max-width: 1000px;
    text-align: center;
}

body button {
    margin: 20px;
}

#startBtn {
    width: 200px;
    align-self: center;
}

#startOverBtn {
    width: 200px;
    align-self: center;
}

#possibleAnsDiv {
    display: flex;
    flex-direction: column;
}

.card div{
    padding: 20px;
}

#questionDiv {
    font-size: 25px;
    font-weight: bold;
}

#possibleAnsDiv button {
    margin: 10px;
}

